


/*nav--section*/
.navbar-custom{
    height: 64px;
}

@media screen and (min-width: 768px){
    .navbar-custom{
        height: 64px;
        /* padding-left: 24px;
        padding-right: 24px; */
    }



}

.navbar-brand {
    height: 32px;
    box-sizing: content-box;
    padding:0px;
    margin-right: 0px;
}

.nav-icon{
    max-height: 30px;
}

/*end-nav-section*/

/*blog--section*/

.blog-custom{
   padding-top: 32px; 
   padding-bottom: 32px;
}