/* common */

body{  
    background-color: azure;
    font-size: 32px;
}

.myname{
  
  text-align: center;
  display:flex;
  flex-direction: column;
}

.mybutton{
    width: 240px;
    align-self: center;
    margin-top:10px;
    text-align: center;
    font-size: 16px;
    padding: 10px 32px;;
    cursor: pointer;
}

.myprofile{
  text-align: center;
  margin-top: 5rem;
}

.myprofile button{

  width: 240px;
    align-self: center;
    margin-top:10px;
    text-align: center;
    font-size: 16px;
    padding: 10px 32px;;
    cursor: pointer;
}