/* common */

body{

    font-family: 'Asap', sans-serif; 
    color:white ;
    background: -webkit-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: -o-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: -ms-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: -moz-linear-gradient(left, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);
  background: linear-gradient(to right, rgb(20, 17, 25) 0%, rgb(69, 61, 52) 80%, rgb(57, 50, 45) 100%);

    padding-left:32px;
    padding-right:32px;

}

/* *{
    border : 1px solid green;
}  */


/* index */

.p-logo{
    font-size: 42px;
    box-sizing: border-box;
    
}



.p-activity > h2{
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    margin-top:12px;
}


/* navbar */


.navbar-light .navbar-brand{
    color:white;
}

.Exer{
    color:#f4eb49;
}

.navbar-light .navbar-brand:hover .Exer{
    color:#06c258;
    

}



.p-navtext{
    font-size: 18px;
    align-self: center;
    margin-left: 36px;
}

.p-navtext:hover{
    transform: scale(1.2);
    transition:0.5s;
    
}


/* form */
.add-activity-btn >button{
    font-size: 16px;
    padding:32px;
}

.btn-dark:hover{
    transform:translate(0,3px) ;
    transition: 0.2s ease;

    
}

.p-footer{
    margin-top: 256px;
}

.activity-img {
    width: 150px;
    
    /* -webkit-filter: drop-shadow(5px 5px 5px 
    #06c258 );
    filter: drop-shadow(5px 5px 5px 
    #06c258 ); */
  }

  .activity-img:hover {
    max-width: 150px;
    transition: 0.5s;
    transform: translate(0,-10px);
    -webkit-filter: drop-shadow(5px 5px 5px 
    #06c258 );
    filter: drop-shadow(5px 5px 5px 
    #06c258 );
    
  }

.img-form{
    border: 12px solid white;
    box-shadow: 10px 20px 25px 12px black;
    padding: 24px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    transform:rotate(12deg);

}



.img-form:hover{
    transform:rotate(10deg);
    transition: 0.3s ;
 
}

.form-control:focus {
    border-color: #06c258;
    box-shadow: inset 0 1px 1px #06c258, 0 0 8px #06c258;
  }


  .form-select:focus {
    border-color: #06c258;
    box-shadow: inset 0 1px 1px #06c258, 0 0 8px #06c258;
  }



/* activity-history */

.subheader{
    display:flex;
    justify-content: space-between;
    padding:24px 12px;
    margin-top:12px;
}

.subheader > span,a{
    font-size: 24px;
    color:white;

}

.subheader  a:hover{
    color:black;
}

.img-history{
    width: 100%;
    padding:12px ;
    border: 12px solid white;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
    margin:12px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0.5px black;
    
}
.card-history-bg{
    background: rgb(14,14,22);
    background: linear-gradient(-90deg, rgba(14,14,22,0.9275911048012955) 7%, rgba(44,43,48,1) 33%, rgba(55,54,58,1) 43%, rgba(58,57,61,1) 62%, rgba(86,84,86,1) 82%, rgba(119,115,115,1) 100%, rgba(134,126,126,1) 100%); 
    border-radius: 30px;
    box-shadow: 0px 0px 12px 1px black;
}


.card-activity .card-body{
    min-height: 250px;
    height: 100%;
    padding: 32px 12px;
    justify-content: space-between;
}

.card-body h5{
    font-size: calc(12px +1vw);
   
}


/* animatation */
.animated_test1{
transition-duration: 1.3s ;
transition-timing-function: ease;

}

.animated_test2{
    transition-duration: 0.9s ;
    transition-timing-function: ease;
    
}

